<div [style.background-color]="backgroundColor">
  <span>{{ title }} app is running!</span> <!-- interplation -->
  <br>
  <p> Model json: {{model | json}} <!-- interplation expression with pipe  -->
  </p>
  <span>User Name(readonly)</span>
  <!-- one way binding-->
  <input type="text" [value]="model.username" name="username" readonly>
  <br>
  <span>First Name</span>
  <!-- one way binding-->
  <input type="text" [(ngModel)]="model.firstName" name="firstName">
  <br>
  <!-- one way binding-->
  <span>Last Name</span>
  <input type="text" [(ngModel)]="model.lastName" name="lastName">
  <br>
  <button (click)="Submit()">Click me</button>
</div>
